.u-center-text {text-align: center !important}

.u-margin-bottom {
  &-big {
    margin-bottom: 8rem !important;

    @include breakpoint(small) {
      margin-bottom: 5rem !important;
    }
  }

  &-medium {
    margin-bottom: 4rem !important;

    @include breakpoint(small) {
      margin-bottom: 3rem !important;
    }
  }

  &-small {margin-bottom: 1.5rem !important}
}

.u-margin-top {
  &-big {margin-top: 8rem !important}
}

.u-uppercase {text-transform: uppercase !important}
